
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}


h1, h2 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}


#shopping-list {
    margin-bottom: 20px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product:hover {
    transform: scale(1.02);
}

.product.bought {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.product.not-bought {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}


button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}


input[type="text"], input[type="number"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 24px);
    box-sizing: border-box;
}


#total-cost {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
